# group_vars/all.yml
# Algemene instellingen voor het hele project

# === Proxmox API credentials ===
proxmox_host: pve1
pve_api_user: "root@pam"
pve_api_token_id: "ansible"
# ⚠️ Zet je echte secret in een Vault of environment var:
pve_api_token_secret: "613b7ca5-7d20-43d6-9f1c-36b67020dfba"

# === SSH / Ansible verbindingen ===
ansible_user: root
ansible_password: Poepaap123
ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
ansible_python_interpreter: /usr/bin/python3
  
vm_template_id: 9001
vm_storage_pool: rbd
vm_template_name: "ubuntu-12-generic-amd64.qcow2"

#ssh keys
sshkey_default: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"

#hardware
memory: 2048
cores: 2
storage: 'rbd' # Je hoofdstoragelocatie (waar de VM-disks komen)
network_bridge: 'vmbr0'

# Cloud Image Locatie (Moet de exacte locatie van je QCOW2 zijn)
image_storage: 'cephfs'

# --- Netwerk Instellingen ---
ip_prefix: "10.24.28."
ip_base: 150 # VM's krijgen .210, .211, .212 etc.
network_gateway: '10.24.28.1'
network_nameservers: '1.1.1.1'

# --- Cloud-Init Instellingen ---
ci_user: 'lucas'
ci_password: 'Poepaap123' # Gebruik later een Ansible Vault
ssh_key_crm_admin: "{{ lookup('file', '~/.ssh/crm_admin_id_ed25519.pub') }}"

docker_vmid: 150

