- name: Bereken containerverdeling (round robin)
  set_fact:
    container_plan: >-
      {{
        (container_plan | default([]))
        + [ {
            'node': (groups['pvenodes'] | sort)[item % (groups['pvenodes'] | length)],
            'vmid': vmid_start + item
          } ]
      }}
  loop: "{{ range(container_count) | list }}"
  run_once: true
  delegate_to: localhost

- name: Maak containers aan op juiste node
  community.proxmox.proxmox:
    api_host: "{{ hostvars[item.node].ansible_host }}"
    api_user: "{{ pve_api_user }}"
    api_token_id: "{{ pve_api_token_id }}"
    api_token_secret: "{{ pve_api_token_secret }}"
    node: "{{ item.node }}"
    vmid: "{{ item.vmid }}"
    hostname: "docker-{{ item.vmid }}"
    ostemplate: "{{ ostemplate }}"
    storage: "{{ storage }}"
    cores: "{{ cores }}"
    memory: "{{ memory }}"
    netif:
      net0: "name=eth0,bridge={{ bridge }},ip={{ ip_prefix }}{{ item.vmid }}{{ ip_cidr }},gw={{ gw }},firewall={{ '1' if firewall else '0' }}"
    password: "{{ root_password }}"
    pubkey: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"
    unprivileged: "{{ unprivileged }}"
    onboot: "{{ onboot }}"
    state: present
  loop: "{{ container_plan }}"
  when: item.node == inventory_hostname
  delegate_to: localhost

- name: Start containers op juiste node
  community.proxmox.proxmox:
    api_host: "{{ ansible_host }}"
    api_user: "{{ pve_api_user }}"
    api_token_id: "{{ pve_api_token_id }}"
    api_token_secret: "{{ pve_api_token_secret }}"
    node: "{{ item.node }}"
    vmid: "{{ item.vmid }}"
    state: started
  loop: "{{ container_plan }}"
  when: item.node == inventory_hostname
  delegate_to: localhost


