# playbooks/site.yml
---
- name: Create containers and VMs on Proxmox nodes
  hosts: pvenodes
  gather_facts: false
  vars_files:
    - ../group_vars/containers.yml
  roles:
    - { role: vm_template, tags: [create_template] }
    - { role: vm_deploy, tags: ["create_vm"] }
    - { role: ci_inject, tags: ["ci"] }



- name: Wait until dockervm are reachable over SSH
  hosts: dockervm
  gather_facts: false
  any_errors_fatal: true
  roles:
    - { role: wait_ssh, tags: ["wait_ssh"] }

- name: installer docker on vm
  become: true
  hosts: dockervm
  gather_facts: true
  roles:  
    - { role: docker_dp, tags: ["docker_dp"] }


